
# Data
/*.gro*
/*.itp*
/*.xtc*
/fftest.ff/

# Dependencies and runtime
/env/
/minenv/
/venv/
*.pyc

# Development and Testing
.coverage
.idea/
.vscode/
/cover/
/dist/
/tmp/
/doc/build/
/nose2-junit.xml

# Misc
.cache/
*.offsets
