# Data
/*.gro*
/*.itp*
/*.xtc*
/fftest.ff/
/gromacs/
*.offsets

# Dependencies and runtime
/env/
/minenv/
/venv/
*.pyc

# Development and Testing
.cache
.coverage
/cover/
/dist/
/doc/build/
/pycgtool.egg-info/
/tmp/

# IDE files
.idea/
.vscode/
settings.json

# Misc
.cache/
/notes/
*.offsets
